<?xml version="1.0"?>
<!-- 
  Copyright (c) 2023 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<robot name="talos" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find talos_description)/urdf/sensors/imu.gazebo.xacro" />
  <xacro:include filename="$(find talos_description)/urdf/sensors/ftsensor.gazebo.xacro" />

  <xacro:macro name="talos_gazebo">

    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <ros>
          <argument>--ros-args</argument>
          <argument>--params-file</argument>
          <argument>$(find talos_description)/config/gazebo_controller_manager_cfg.yaml</argument>
        </ros>
        <hold_joints>false</hold_joints>
        <parameters>$(find talos_description)/config/gazebo_controller_manager_cfg.yaml</parameters>
        <xacro:if value="${is_multiple}">
          <!-- Do something about multirobot -->
        </xacro:if>
        <xacro:unless value="${is_multiple}">
          <!-- Do something about multirobot -->
        </xacro:unless>
      </plugin>
    </gazebo>

    <gazebo>
      <!-- plugin for reading IMU values -->
      <plugin filename="libgz-sim-imu-system.so" name="gz::sim::systems::Imu">
      </plugin>
      <!-- plugin for publishing pose -->
      <plugin
        filename="gz-sim-pose-publisher-system"
        name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <publish_model_pose>true</publish_model_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <static_publisher>true</static_publisher>
        <static_update_frequency>1</static_update_frequency>
      </plugin>
      <!-- plugin for publishing odometry -->
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>base_link/odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <dimensions>3</dimensions>
      </plugin>
    </gazebo>

    <xacro:imu_sensor_gazebo update_rate="1000.0"/>
    <xacro:force_torque_sensor_gazebo parent_joint_name="wrist_left_ft_joint" sensor_name="wrist_left_ft_sensor" update_rate="1000.0"/>
    <xacro:force_torque_sensor_gazebo parent_joint_name="wrist_right_ft_joint" sensor_name="wrist_right_ft_sensor" update_rate="1000.0"/>
    <xacro:force_torque_sensor_gazebo parent_joint_name="leg_left_6_joint" sensor_name="ankle_left_ft_sensor" update_rate="1000.0"/>
    <xacro:force_torque_sensor_gazebo parent_joint_name="leg_right_6_joint" sensor_name="ankle_right_ft_sensor" update_rate="1000.0"/>

  </xacro:macro>

</robot>

